
body {
    background-color:#588da8
  }

  hr {
  border-color:#ccafaf;
  border-width:10px;
  border-style:none;
  border-top-style:dotted;
  width:15%;
  }

  h1 {
    font-size: 6em;
    font-family: "Garamond";
    color:#ccafaf;
  }

  h2 {
    font-size: 4em;
    font-family: "Garamond";
    color:#ccafaf;
  }

  h3 {
    font-size: 3em;
    font-family: "Garamond";
    color:#ccafaf;
    text-align: center;
  }

  h4 {
    font-size: 2em;
    font-family: "Garamond";
    color:#ccafaf;
    text-align: center;
  }

  p {
    font-family: "Garamond";
    text-align: center;
  }

  img{
    border-radius: 50%
  }

  a{
    color: #d8345f
  }
